html {
  width: 100%;
  min-height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
}
div{
  margin: 0px;
}
#root {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  display: block;
}

.container {
  width: 100%;
  min-height: 100%;
  display: block;
}